<div>
    <body>
    <h1>
        <p> Movies APP</p>
    </h1>

        
   

</body>
     <style>
        body {
            color:white;
            margin: 0;
            background-image: url("http://www.servimg.com/u/f77/11/51/95/22/comoes10.png");
        }
        
        
    </style>

<table class="table">
    <thead>
        <div class="alert alert-warning alert-dismissable">

          <center>{{data}} </center>
        </div>    
    
            <tr>
                <th><strong><FONT COLOR="orange">Nombre</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Pais</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Año</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Nominaciones</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Premios</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Edición</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Acciones</FONT></strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong><FONT COLOR="grey">{{updatedMovie.name}}</FONT></strong></td>
                <td><strong><FONT COLOR="grey">{{updatedMovie.country}}</FONT></strong></td>
                <td><strong><FONT COLOR="grey">{{updatedMovie.year}}</FONT></strong></td>
                <td><input class="form-control" ng-model="updatedMovie.movienomination" value="new nomination"></td>
                <td><input class="form-control" ng-model="updatedMovie.movieaward" value="new award"></td>
                <td><input class="form-control" ng-model="updatedMovie.movieedition" value="new edition"></td>
                <td><button class="btn btn-primary" ng-click="updateMovie()">Actualizar</button></td>
            </tr>
        </tbody> 
    </table>