

<div>
    <body>
    <h1>
        <p> Movies APP</p>
    </h1>

        
   

</body>
     <style>
        body {
            color:white;
            margin: 0;
            background-image: url("http://www.servimg.com/u/f77/11/51/95/22/comoes10.png");
        }
        
        
    </style>
<div class="alert alert-warning alert-dismissable">
 
  <center><strong> {{data1}} </strong> {{data2}} </center>

</div>    
         <table class="table">
        <thead>
            <tr>
                <th><strong><FONT COLOR="orange">Nombre</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Pais</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Año</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Nominaciones</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Premios</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Edición</FONT></strong></th>
                <th><strong><FONT COLOR="orange">Acciones</FONT></strong></th>
                <th><button class="btn btn-warning" ng-click="restaurar()">Restaurar</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td><input class="form-control" ng-model="searchForm.name" /></td>
                    <td><input class="form-control" ng-model="searchForm.country" /></td>
                    <td><input class="form-control" ng-model="searchForm.year" /></td>
                    <td><input class="form-control" ng-model="searchForm.movienomination" /></td>
                    <td><input class="form-control" ng-model="searchForm.movieaward" /></td>
                    <td><input class="form-control" ng-model="searchForm.movieedition" /></td>
                    <td><button type="button" class="btn btn-secondary"  ng-click="searchMovie()">Buscar</button></td>
                    <td><button type="button" class="btn btn-success" ng-click="searchMovie1()" >Cerrar</button></td>
                    </tr>
            <tr ng-repeat="movie in movies">
                <td><a href="/#!/api-movies/{{movie.country}}/{{movie.year}}">{{movie.name}}</a></td>
                <td><strong><FONT COLOR="grey">{{movie.country}}</FONT></strong></td>
                <td><strong><FONT COLOR="grey">{{movie.year}}</FONT></strong></td> 
                <td><strong><FONT COLOR="grey">{{movie.movienomination}}</FONT></strong></td> 
                <td><strong><FONT COLOR="grey">{{movie.movieaward}}</FONT></strong></td>   
                <td><strong><FONT COLOR="grey">{{movie.movieedition}}</FONT></strong></td>  
                <td><button class="btn btn-danger" ng-click="deleteMovie(movie.country,movie.year)" value="Borrar">Borrar</button></td>
            </tr>
            <tr>
                <td><input class="form-control" ng-model="newMovie.name" value="new name"></td>
                <td><input class="form-control" ng-model="newMovie.country" value="new country"></td>
                <td><input class="form-control" ng-model="newMovie.year" value="new year"></td>
                <td><input class="form-control" ng-model="newMovie.movienomination" value="new nomination"></td>
                <td><input class="form-control" ng-model="newMovie.movieaward" value="new award"></td>
                <td><input class="form-control" ng-model="newMovie.movieedition" value="new edition"></td>
                <td><button class="btn btn-primary" ng-click="addMovie()" value="Añadir" >Añadir</button></td>
                <td><button class="btn btn-danger" ng-click="deleteMovieAll()" value="Borrar todo" >Borrar todo</button></td>
            </tr>
            <tr>
                <ul class="pagination">
        
        <td><button class="btn btn-dark" ng-click="previousPage()"value="Página Anterior"><i>Página Anterior</i></button></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-dark" ng-click="nextPage()" value="Siguiente Página"><i>Siguiente Página</i></button></td>
        <td></td>

    </ul>
            </tr>
            
             <div class="btn-group">
                        <button type="button" class="btn btn-default"> <a href="/#!/api-movies"><strong>Inicio </strong></button>
                        <button type="button" <div class="btn btn-default">
                        <strong> <a href="/api-movies/minipostman-movies.html">Desarrolladores</a> </strong> 
                    </div></button>
        </tbody>
    </table>