<!DOCTYPE html>
<html ng-app="CompaniesApp">

<head>
    <title> MiniPostman Companies </title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="companies-stats.js"></script>
    <script src="main-ctrl.js"></script>

</head>

<body ng-controller="MainCtrl">

    <style>
        body {
            margin: 0;
            background-image: url("https://cdn2.dineroenimagen.com/media/dinero/styles/gallerie/public/images/2018/06/2018-05-31t175225z1745333306rc166ff04590rtrmadp3apple-power-chip-dialog.jpg")
        }
    </style>

    <h1>
        <p>
            <FONT COLOR="orange">Companies APP </FONT>
            <class="form-control text-center"></class>
        </p>
    </h1>
    <div>
        <label><FONT COLOR="white">URL: <input class="form-control text-center" ng-model="url" size="80"/></label>
        <button class="btn btn-primary" ng-click="get()">Get</button>
        <button class="btn btn-secondary" ng-click="post()">Post</button>
        <button class="btn btn-warning" ng-click="put()">Put</button>
        <button class="btn btn-danger" ng-click="delete()">Delete</button>
        <button class="btn btn-info" ng-click="loadInitialData()">LoadInitialData</button>
    </div>

    <div>
        <label>
<h3>
        <p> <FONT COLOR="orange">Status code: {{status}} </FONT></p></label>
        </h3>
    </div>

    <div>


        <textarea class="form-control" size="40" rows="20" ng-model="data"></textarea>
    </div>
</body>
<div class="btn-group">
    <button type="button" class="btn btn-default"> <a href="/#!/api-companies"><strong>Inicio </strong></button>
    <button type="button" <div class="btn btn-default">
                        <strong> <a href="/api-companies/companies.html">Desarrolladores</a> </strong> 
                    </div></button>

</html>
