
     <style>
        body {
            margin: 0;
            background-image: url("http://sfwallpaper.com/images/apple-wood-wallpaper-15.jpg")
        }
    </style>
<body>
    <h1>
        <p>
            <div class="alert alert-info alert-dismissable">

                <center>Companies APP </center>
            </div>
        </p>
    </h1>
   

   
</body><table class="table">
    <thead>
        <div class="alert alert-warning alert-dismissable">
            <center>{{data}} </center>
        </div>
        <tr>
            <th><FONT COLOR="orange">Empresa</FONT></th>
            <th><FONT COLOR="orange">Pais</FONT></th>
            <th><FONT COLOR="orange">Año</FONT></th>
            <th><FONT COLOR="orange">Ingresos</FONT></th>
            <th><FONT COLOR="orange">Capitalización</FONT></th>
            <th><FONT COLOR="orange">Empleados</FONT></th>
            <th><FONT COLOR="white">Acciones</FONT></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><FONT COLOR="blue">{{updatedCompany.company}}</FONT></td>
            <td><FONT COLOR="blue">{{updatedCompany.country}}</FONT></td>
            <td><FONT COLOR="blue">{{updatedCompany.year}}</FONT></td>
            <td><FONT COLOR="white"><input class="form-control" ng-model="updatedCompany.income" value="new income"></FONT></td>
            <td><FONT COLOR="white"><input class="form-control" ng-model="updatedCompany.marketcapitalization" value="new marketcapitalization"></FONT></td>
            <td><FONT COLOR="white"><input class="form-control" ng-model="updatedCompany.employee" value="new employee"></FONT></td>
            <td><button class="btn btn-primary" ng-click="updateCompany()">Actualizar</button></td>
            <td><button href="/!#/api-companies" class="btn btn-danger btn-sm" onclick="history.back(-1)"> Cerrar</button></td>
        </tr>
    </tbody>
</table>
