<h1>Taking Stats </h1>
<table class="table">
    <thead>
        <th>Película</th>
        <th>País</th>
        <th>Año</th>
        <th>Distribuidor</th>
        <th>Recaudación</th>
        <th>Ranking</th>
        <th>Espectadores</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="taking in takingstats">
            <td>{{ taking.film }}</td>
            <td>{{ taking.country }}</td>
            <td>{{ taking.year }}</td>
            <td>{{ taking.distributor }}</td>
            <td>{{ taking.money }}</td>
            <td>{{ taking.rank }}</td>
            <td>{{ taking.spectator }}</td>
            <td>
        </tr>
    </tbody>
</table>
<!DOCTYPE html>
<html>
 <body>
        <div id="container1" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
        </br>
        <div id="bi" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </br>
        <div id="uv-div"></div>
        </br>
        <a href="/#!/integrations"><button class="btn btn-primary" ng-click="back()">Back</button></td>

<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>

    </body>
</html>