<table class="table">
        <thead>
            <div class="alert alert-warning alert-dismissable">
  
  <center>{{data}} </center>
</div>
            <tr>
                <th>Nombre</th>
                <th>Pais</th>
                <th>Año</th>
                <th>Goles</th>
                <th>Partidos</th>
                <th>Promedio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{updatedScorer.name}}</td>
                <td>{{updatedScorer.country}}</td>
                <td>{{updatedScorer.year}}</td>
                <td><input class="form-control" ng-model="updatedScorer.scorergoal" value="new goal"></td>
                <td><input class="form-control" ng-model="updatedScorer.scorermatch" value="new match"></td>
                <td><input class="form-control" ng-model="updatedScorer.scoreraverage" value="new average"></td>
                <td><button class="btn btn-primary" ng-click="updateScorer()">Actualizar</button></td>
            </tr>
        </tbody> 
    </table>