<body>
    <h1>
        <p> Scorers APP</p>
    </h1>

</body>
<style>
        body {
            color:white;
            margin: 0;
            background-image: url("https://tiendatelas.com/12690-thickbox_default/fieltro-180-gr-gris.jpg");
        }
        
        
</style>
<div class="alert alert-warning alert-dismissable">
  
  <center><strong> {{data1}} </strong> {{data2}} </center>
</div>
 <div>
         <table class="table">
        <thead>
            <tr>
                <th><strong>Nombre</strong></th>
                <th><strong>Pais</strong></th>
                <th><strong>Año</strong></th>
                <th><strong>Goles</strong></th>
                <th><strong>Partidos</strong></th>
                <th><strong>Promedio</strong></th>
                <th><strong>Acciones</strong></th>
                <th><button class="btn btn-warning" ng-click="restaurar()">restaurar</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td><input class="form-control" ng-model="searchForm.name" /></td>
                    <td><input class="form-control" ng-model="searchForm.country" /></td>
                    <td><input class="form-control" ng-model="searchForm.year" /></td>
                    <td><input class="form-control" ng-model="searchForm.scorergoal" /></td>
                    <td><input class="form-control" ng-model="searchForm.scorermatch" /></td>
                    <td><input class="form-control" ng-model="searchForm.scoreraverage" /></td>
                    <td><button type="button" class="btn btn-secondary"  ng-click="searchScorer2()">Buscar</button></td>
                    <td><button type="button" class="btn btn-success" ng-click="searchScorer1()" >Cerrar</button></td>
                    </tr>
            <tr ng-repeat="scorer in scorers">
                <td><strong><a href="/#!/api-scorers/{{scorer.country}}/{{scorer.year}}">{{scorer.name}}</strong></a></td>
                <td><strong><FONT COLOR="red">{{scorer.country}}</FONT></strong></td>
                <td><strong><FONT COLOR="red">{{scorer.year}}</FONT></strong></td>
                <td><strong><FONT COLOR="red">{{scorer.scorergoal}}</FONT></strong></td>
                <td><strong><FONT COLOR="red">{{scorer.scorermatch}}</FONT></strong></td>
                <td><strong><FONT COLOR="red">{{scorer.scoreraverage}}</FONT></strong></td>
                <td><button class="btn btn-danger" ng-click="deleteScorer(scorer.country,scorer.year)">Borrar</button></td>
            </tr>
            <tr>
                <td><input class="form-control" ng-model="newScorer.name" value="new name"></td>
                <td><input class="form-control" ng-model="newScorer.country" value="new country"></td>
                <td><input class="form-control" ng-model="newScorer.year" value="new year"></td>
                <td><input class="form-control" ng-model="newScorer.scorergoal" value="new goal"></td>
                <td><input class="form-control" ng-model="newScorer.scorermatch" value="new match"></td>
                <td><input class="form-control" ng-model="newScorer.scoreraverage" value="new average"></td>
                <td><button class="btn btn-primary" ng-click="addScorer()"value ="Añadir">Añadir</button></td>
                <td><button class="btn btn-danger" ng-click="deleteScorerAll()" value ="delete">Borrar todo</button></td>
            </tr>
            <tr>
                <ul class="pagination">
        
        <td><button class="btn btn-dark" ng-click="previousPage()" value="Página Anterior"><i><</i></button></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-dark" ng-click="nextPage()" value="Siguiente Página"><i>></i></button></td>
        <td></td>
        
        
        
    </ul>
    
            </tr>
            <div class="btn-group">
                        <button type="button" class="btn btn-default"> <a href="/ui/v1/scorers-stats/#!"><strong>Inicio </strong></button>
                        <button type="button" <div class="btn btn-default">
                        <strong> <a href="/api-scorers/minipostman-scorers.html">Desarrolladores</a> </strong> 
                    </div></button>
                    
        </tbody>
        
    </table>